{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier", "prefer-arrow"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/prop-types": 0,
        "no-underscore-dangle": 0,
        "no-console": [
            "error",
            {
                "allow": ["warn", "error", "info"]
            }
        ],
        "import/imports-first": ["error", "absolute-first"],
        "import/newline-after-import": "error",
        "prefer-arrow-callback": ["error"],
        "prefer-arrow/prefer-arrow-functions": [
            "warn",
            {
                "disallowPrototype": true,
                "singleReturnOnly": false,
                "classPropertiesAllowed": false
            }
        ]
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    }
}
